@font-face {
   font-family: 'Ferrari-SansMedium';
   font-display: swap;
   src: url('file:///C:/Users/imoze/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-03-28_004616/fonts/Ferrari-SansMedium/font.ttf');
}
