<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  
  
  <title>296</title>
  <link rel="stylesheet" href="/static/header.css">
  <link rel="stylesheet" href="/static/296/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/296/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/296/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/296/parallax/jarallax.css">
  <link rel="stylesheet" href="/static/296/theme/css/style.css">
  <link href="/static/296/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/static/296/mobirise/css/mbr-additional.css?v=I5DG8o"><link rel="stylesheet" href="/static/296/mobirise/css/mbr-additional.css?v=I5DG8o" type="text/css">

  
  
  
</head>
<body>
  {% include 'header.html' %}
  
  <section data-bs-version="5.1" class="header16 cid-uGGsDdPsZL mbr-fullscreen mbr-parallax-background" id="header17-0">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>296</strong></h1>
        
        
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGGu1NXr4O mbr-fullscreen mbr-parallax-background" id="header17-1">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">The Track’s Whisper, The Road’s Roar.<br></p>
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGGu27CF20 mbr-fullscreen mbr-parallax-background" id="header17-2">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-5">Born from the racetrack, perfected for the open road, the 296 GTB is a marvel of precision. Its hybrid V6 heart delivers razor-sharp responsiveness, while its aerodynamic silhouette slices through air with balletic poise. This is not merely a car—it is a statement of intent.</p>
        <form class="parent-container" method="POST">
          <button class="mbr-section-btn" {% if not login %}disabled{% endif %}><a class="btn btn-success-outline display-7">Buy</a></button>
          {% if not login %}
          <p class="text-warning mt-2">You need <a href="{{ url_for('login') }}" class="text-warning"><u>authorisation</u></a> to place order</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/static/296/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/296/parallax/jarallax.js"></script>
<script src="/static/296/smoothscroll/smooth-scroll.js"></script>
<script src="/static/296/theme/js/script.js"></script>  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    jarallax(document.querySelectorAll('.mbr-parallax-background'), {
      speed: 0.5 // Настройка скорости параллакса
    });
  });
</script>
  
</body>
</html>