<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Purchase {{ model }}</title>
    <link rel="stylesheet" href="/static/buy.css">
</head>
<body>
    <form class="purchase-container" method="POST">
        <div class="purchase-block">
            <h1 class="car-title">{{ model }}</h1>
            
            <div class="quantity-selector">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" min="1" max="50" value="1">
            </div>
        </div>
        
        <div class="purchase-block">
            <h2 class="car-title">Delivery options</h2>
            
            <div class="delivery-options">
                <div class="delivery-option">
                    <label for="delivery-date">Choose delivery date:</label>
                    <input type="date" id="delivery-date" name="delivery-date" required>
                </div>
            </div>
        </div>
        <div id="errorMessage" class="error" {% if error %}style="display: block;"{% else %}style="display: none;"{% endif %}>
            {% if error %}{{ error }}{% endif %}
        </div>
        
        <button type="submit" class="purchase-btn">Place order</button>
    </form>
</body>
</html>