<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  
  <title>Main</title>
  <link rel="stylesheet" href="static/main/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/main/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/main/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/main/parallax/jarallax.css">
  <link rel="stylesheet" href="static/main/theme/css/style.css">
  <link href="static/main/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="preload" as="style" href="static/main/mobirise/css/mbr-additional.css?v=9pLKI0"><link rel="stylesheet" href="static/main/mobirise/css/mbr-additional.css?v=9pLKI0" type="text/css">  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="header16 cid-uGAgJ9KWGX mbr-fullscreen mbr-parallax-background" id="header17-0">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1"><strong>Pronti a vivere il sogno?</strong><br><strong>
</strong><div><strong>Experience Ferrari: elegance, speed, and unparalleled excellence.</strong></div><br><br><div><strong><br></strong></div></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">La velocità incontra l'eleganza — your Ferrari awaits.</p>
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGAmAleEy9 mbr-fullscreen mbr-parallax-background" id="header17-1">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <br><strong>Get yours Ferrari today</strong></h1>
        
        <form class="parent-container" method="POST">
          <button class="mbr-section-btn"><a class="btn btn-secondary-outline display-7" >See models</a></button>
        </form>
      </div>
    </div>
  </div>
</section>
  <script src="static/main/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/main/parallax/jarallax.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      jarallax(document.querySelectorAll('.mbr-parallax-background'), {
        speed: 0.5 // Настройка скорости параллакса
      });
    });
  </script>
  
</body>
</html>