<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  
  
  <title>Models</title>
  <link rel="stylesheet" href="static/models/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/models/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="static/models/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="static/models/parallax/jarallax.css">
  <link rel="stylesheet" href="static/models/theme/css/style.css">
  <link href="static/models/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="preload" as="style" href="static/models/mobirise/css/mbr-additional.css?v=BuSdbe"><link rel="stylesheet" href="static/models/mobirise/css/mbr-additional.css?v=BuSdbe" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="header16 cid-uGFRYFuCEr mbr-fullscreen mbr-parallax-background" id="header17-0">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>SF90 XX Stragale</strong></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">Accessible Thrills. Hybrid Heart. Supercar Soul.</p>
        <form class="parent-container" method="POST">
          <button name="model" value="SF90" class="mbr-section-btn"><a class="btn btn-secondary-outline display-7">Learn More</a></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGFS1UsUbP mbr-fullscreen mbr-parallax-background" id="header17-1">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>Roma</strong></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">Urban elegance, gran turismo spirit – luxury in motion.</p>
        <form class="parent-container" method="POST">
          <button name="model" value="Roma" class="mbr-section-btn"><a class="btn btn-secondary-outline display-7">Learn More</a></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGFS2bW1Wa mbr-fullscreen mbr-parallax-background" id="header17-2">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>296</strong></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">Track-Forged. Unleashed Soul.</p>
        <form class="parent-container" method="POST">
          <button name="model" value="296" class="mbr-section-btn"><a class="btn btn-secondary-outline display-7">Learn More</a></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGFS2ubxmV mbr-fullscreen mbr-parallax-background" id="header17-3">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>Daytona SP3</strong></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">Rare. Radical. Revered.</p>
        <form class="parent-container" method="POST">
          <button name="model" value="Daytona SP3" class="mbr-section-btn"><a class="btn btn-secondary-outline display-7">Learn More</a></button>
        </form>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGFS2OMgtY mbr-fullscreen mbr-parallax-background" id="header17-4">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>12Cilindri</strong></h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">The Apex of Power. The Soul of Ferrari.</p>
        <form class="parent-container" method="POST">
          <button name="model" value="12Cilindri" class="mbr-section-btn"><a class="btn btn-secondary-outline display-7">Learn More</a></button>
        </form>
      </div>
    </div>
  </div>
</section>
  
<script src="/static/models/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/models/parallax/jarallax.js"></script>
<script src="/static/models/smoothscroll/smooth-scroll.js"></script>
<script src="/static/models/theme/js/script.js"></script>  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    jarallax(document.querySelectorAll('.mbr-parallax-background'), {
      speed: 0.5 // Настройка скорости параллакса
    });
  });
</script>
</body>
</html>