<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="static/profile_edit.css">
</head>
<body>
    <div class="profile-container">
        <h2>Edit Profile</h2>
        
        <form id="profileForm" method="POST">
            <div class="profile-field">
                <label for="firstName" class="field-label">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="{{ user.Firstname}}" class="profile-input" required>
            </div>
            
            <div class="profile-field">
                <label for="lastName" class="field-label">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="{{ user.Lastname}}" class="profile-input" required>
            </div>
            
            <div class="profile-field">
                <label for="birthDate" class="field-label">Date of Birth:</label>
                <input type="date" id="birthDate" name="birthDate" value="{{ user.BirthDate}}" class="profile-input" required>
            </div>
            
            <div class="profile-field">
                <label for="email" class="field-label">Email:</label>
                <input type="email" id="email" name="email" value="{{ user.Email}}" class="profile-input" required>
            </div>
            
            <div class="profile-field">
                <label for="address" class="field-label">Delivery Address:</label>
                <textarea id="address" name="address" class="profile-textarea" required>{{ user.DeliveryAdress }}</textarea>
            </div>
            
            <div class="profile-actions">
                <button type="submit" class="save-btn">Save Changes</button>
                <button type="button" class="cancel-btn">Cancel</button>
            </div>
        </form>
    </div>
</body>
</html>