<!DOCTYPE html>
<html  >
<head>
  <meta charset="UTF-8">
  
  <title>SF90</title>
  <link rel="stylesheet" href="/static/sf90/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/sf90/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/sf90/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/static/sf90/parallax/jarallax.css">
  <link rel="stylesheet" href="/static/sf90/theme/css/style.css">
  <link href="/static/sf90/fonts/style.css" rel="stylesheet">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="/static/sf90/mobirise/css/mbr-additional.css?v=Gor8Px"><link rel="stylesheet" href="/static/sf90/mobirise/css/mbr-additional.css?v=Gor8Px" type="text/css">

  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="header16 cid-uGGsDdPsZL mbr-fullscreen mbr-parallax-background" id="header17-0">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong><br>SF 90 Stradale XX</strong></h1>
        
        
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGGu1NXr4O mbr-fullscreen mbr-parallax-background" id="header17-1">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-2">The Hybrid Prodigy – Where Innovation Meets Velocity.<br></p>
        
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header16 cid-uGGu27CF20 mbr-fullscreen mbr-parallax-background" id="header17-2">
  
  
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-5">A masterpiece of modern engineering, the SF90 Stradale XX redefines performance with its electrifying hybrid powertrain. Uniting cutting-edge technology with Ferrari’s relentless pursuit of speed, it delivers breathtaking acceleration while retaining the soul of a true thoroughbred. For those who demand the future, today.</p>
        <form class="parent-container" method="POST">
          <button class="mbr-section-btn"><a class="btn btn-success-outline display-7">Buy</a></button>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/static/sf90/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/sf90/parallax/jarallax.js"></script>
<script src="/static/sf90/smoothscroll/smooth-scroll.js"></script>
<script src="/static/sf90/theme/js/script.js"></script>  
<script>
  document.addEventListener('DOMContentLoaded', function() {
    jarallax(document.querySelectorAll('.mbr-parallax-background'), {
      speed: 0.5 // Настройка скорости параллакса
    });
  });
</script>
  
</body>
</html>