@font-face {
   font-family: 'Ferrari-SansRegularItalic';
   font-display: swap;
   src: url('file:///C:/Users/imoze/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-03-27_221546/fonts/Ferrari-SansRegularItalic/font.ttf');
}
